@using WebMatrix.Data;


@{
    Layout = "~/inc/_layout.cshtml";
}




<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/styles/site.css" rel="stylesheet" />
    <title></title>
</head>

<body>
    <img src="~/imagens/logoGalactus.jpg" />
    <p><font size="1">Game status: </font></p><br />
    <p><font color="red">(INSERIR VARIAVEL DOS TICKS)</font> segundos após o último tick.</p><br />
    @{

        if (Session.Contents["user"] != null)
        {
            Database bd = Database.Open("Conexao");
            var dados = bd.Query("SELECT * FROM usuarios");
            <p>@dados.Count() contas registradas<br /></p>
            <p>@Session.Count  usuarios online<br /></p>

        }

    }


    <p> Tempo corrente: (VARIAVEL DE TEMPO DO TICK) <br /></p>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

