<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/styles/site.css" rel="stylesheet" />

    <title>Planetarion</title>
</head>
<body>

    @RenderPage("~/inc/_header.cshtml")
    @RenderPage("~/inc/_sector.cshtml")
    @RenderBody()


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>


</html>
<footer class="footer text-muted">
    @RenderPage("~/inc/_footer.cshtml")

</footer>

