<!DOCTYPE html>
<html>
<head>
    <link href="~/styles/stylesheet.css" rel="stylesheet" />
    <title>Planetarion</title>
</head>
<body>

    @RenderPage("~/inc/_header.cshtml")
    @RenderPage("~/inc/_sector.cshtml")
    @RenderBody()
    @RenderPage("~/inc/_footer.cshtml")

</body>
</html>
