.logo{
    border:1px solid;
  
       
}


A:active
{
    COLOR: white;
    TEXT-DECORATION:none
}
A:link
{
    COLOR: white;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: white;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: white;
    TEXT-DECORATION: none
}
BODY
{
	scrollbar-DarkShadow-Color: white;
	scrollbar-Track-Color: white;
	scrollbar-base-Color: white;
	scrollbar-Shadow-Color: black;
	scrollbar-Highlight-Color: #A7C86E;
	scrollbar-3dLight-Color: black;
	scrollbar-Arrow-Color: black;
	background-color: black;
    color: white;
}

.style2{
    font-size:16px;
    text-align:left;
          
}

SELECT
{
    border: 1px solid;
    font-family: verdana, arial, sans-serif;
    font-size: 10px
   
}
TEXTAREA
{
    border: 1px solid;
    font-family: verdana, arial, sans-serif;
    font-size: 10px
    
}
.table {
    font-size: 12px;
    border: 2px solid;
    border-collapse:collapse;
    border-color: gray;     
}


.table_naves{
    border:none;
    font-size: 20px;
}


td{
    text-align: center;
    border: 1px solid white;
 
}

th {
    text-align: center;
    border: 2px solid white;
}

INPUT
{
    border: 1px solid;
    font-family: verdana, arial, sans-serif;
    background: #999999;
    font-size: 10px;
}
